*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

html{
   width: 100%;
   height: 100%;
}

body{
   width: 100%;
   height: 100%;
}

section{
   display: flex;
   justify-content: center;
   align-items: center;
   background-image: linear-gradient(135deg,#61A4BC,#5B7DB1,#05595B);
}

.container{
   margin: 50px 150px;
   padding: 50px 100px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   background-color: rgba(255, 255, 255, 0.507);
   border-radius: 20px;
}

.form-signup{
   border-top: 2px solid;
   border-bottom: 2px solid;
   padding: 30px 20px;
}

h1.title{
   font-size: 40px;
   text-transform: capitalize;
   padding: 30px;
}

.card{
   padding: 10px 0;
}

.card > label, .card > p{
   padding-right: 20px;
   min-width: 250px;
   font-size: 20px;
   display: inline-block;
   align-items: center;
}

.card input{
   padding: 10px;
   width: 250px;
   font-size: 15px;
   border-radius: 5px;
   border: none;
   box-shadow: 2px 0 10px rgb(107, 107, 107);
}

.card.gender{
   display: flex;
}

span.gender{
   display: flex;
   align-items: center;
}

.radio-input{
   width: 15px !important;
   margin-right: 10px;
   cursor: pointer;
   box-shadow: none !important;
}

span.gender label{
   margin-right: 30px;
}

.address-item{
   display: flex;
   justify-content: space-between;
   margin: 10px 0;
   margin-left: 20px;
}

select{
   cursor: pointer;
   display: flex;
   align-items: center;
   box-shadow: 2px 0 10px rgb(107, 107, 107);
   border: none;
   border-radius: 5px;
   padding: 5px;
   font-size: 14px;
}

option{
   display: flex;
   align-items: center;
}

div.submit{
   margin-top: 60px;
   text-align: center;
}

div.submit input{
   width: 100%;
   border: none;
   background-color: #000;
   color: #fff;
   cursor: pointer;
   padding: 20px;
   border-radius: 10px;
   font-size: 20px;
   font-weight: bold;
   box-shadow: 2px 0 10px rgb(107, 107, 107);
   transition: all 0.25s linear;
}

div.submit input:hover{
   background-color: #fff;
   color: #000;
}