@import url('https://fonts.googleapis.com/css2?family=League+Spartan&family=Lobster&family=Roboto:wght@300&display=swap');

:root{
   /* --main-color: #0398E5; */
   --main-color: rgb(3, 3, 3);
   --border-color:  rgba(255, 255, 255, 0.568);
   --red-color: rgb(212, 24, 24);
}

*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   outline: none;
   list-style: none;
   text-decoration: none;
   font-family: 'League Spartan', sans-serif;
   scroll-behavior: smooth;
}

html{
   position: relative;
}


body{
   height: 100%;
}

/* back to top */
.back-top{
   position: fixed;
   bottom: 40px;
   right: 40px;
}

.back-top i{
   font-size: 50px;
   color: #3284d6;
}

/* Start Header */

header{
   width: 100%;
   height: 60px;
   padding: 0 20px;
   display: flex;
   position: -webkit-sticky;
   position: sticky;
   top: 0;
   justify-content: space-between;
   align-items: center;
   background-color: var(--main-color);
   text-transform: uppercase;
   z-index: 99;
}

header ul a{
   color: #fff;
}

header .login{
   width: 140px;
   padding: 8px;
   position: relative;
   border: 2px solid var(--border-color);
   border-radius: 20px;
   cursor: pointer;
}

header .login .login-icon{
   display: flex;
   justify-content: space-around;
   font-size: 12px;
   color: #fff;
}

header .login:hover{
   background-color: #fff;
   color: var(--main-color);
   transition: all 0.5s;
}

header .login:hover i{
   color: var(--main-color);
}

header .login:hover p{
   color: var(--main-color);
} 

header nav{
   height: 100%;
   position: relative;
}

header nav ul{
   display: flex;
   height: 100%;
}

header .menu-items{
   padding: 0 30px;
   width: 100%;
   font-weight: bold;
   min-width: 125px;
   text-align: center;
   font-size: 13px;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}

header .logo-menu{
   width: 30px;
   height: 30px;
}

header .menu-items-logo .menu-logo{
   height: 100%;
   width: auto;
   display: flex;
   align-items: center;
   justify-content: center;
}

header .menu-items-logo .menu-logo img{
   width: 90px;
   height: auto;
}

header .menu-items > a{
   width: 100px;
   height: 100%;
   font-weight: bold;
   display: flex;
   align-items: center;
   justify-content: center;
}

header .menu-items:hover{
   border-bottom: 4px solid #fff;
   transition: all 0.1s;
}

header .menu-items.menu-active{
   border-bottom: 4px solid #fff;
}

header .menu-items.menu-active > a{
   color:#c09440;
}

header .sub-nav-sanpham{
   background-color: #000;
   min-width: 1000px;
   height: auto;
   min-height: 100px;
   font-size: 12px;
   padding: 0 20px;
   display: flex;
   justify-content:space-between;
   position: absolute;
   left: 0;
   top: 60px;
   opacity: 0;
   visibility: hidden;
   transition: all 0.25s linear;
}

header .menu-items:hover .sub-nav-sanpham{
   opacity: 1;
   border-top: 6px solid #fff;
   visibility: visible;
}

header .sub-nav-sanpham .sub-nav-sanpham-items{
   width: auto;
   padding: 0 20px;
   font-weight: 100;
}

header .sub-nav-sanpham .sub-nav-sanpham-items .sub-nav-sanpham-title{
   font-weight: bold;
   text-transform: uppercase;
   padding: 10px 0;
   border-bottom: 1px solid #fff;
   color: #fff;
}

header .sub-nav-sanpham .sub-nav-sanpham-items .sub-nav-sanpham-title:hover{
   transform: scale(1.2);
   transition: ease-in-out 0.5s;
}

header .sub-nav-sanpham .sub-nav-sanpham-items > a{
   display: block;
   width: auto;
   text-transform: capitalize;
   text-align: left;
   padding: 10px 5px;
}

header .sub-nav-sanpham .sub-nav-sanpham-items a > i{
   padding-right: 5px;
}

header .sub-nav-sanpham .sub-nav-sanpham-items > a:hover{
   background-color: #fff;
   color: #000;
   border-radius: 10px;
   transition: ease-in-out 0.25s;
}

.right-header{
   width: 10%;
   display: flex;
   justify-content: space-around;
   color: #fff;
}

.right-header-icon i{
   cursor: pointer;
   font-size: 20px;
}

/* start footer */

footer{
   padding: 20px 90px;
   background-color: #000;
   display: grid;
   grid-template-columns: repeat(3,1fr);
}

footer ul a{
   color: #fff;
}

.footer-items{
   color: #fff;
   position: relative;
}

.footer-items .title{
   padding: 20px 0;
   font-size: 28px;
   text-align: center;
   color: #c09440;
}

.footer-items .detail{
   color: rgb(165, 165, 165);
   font-weight: 100;
   padding-bottom: 30px;
}

.footer-items .lish-icon-media{
   display: flex;
   justify-content: flex-start;
   align-items: center;
}

.footer-items li{
   padding-right: 20px;
   font-size: 20px;
}

.footer-items li:hover i{
   color: #c09440;
   transition: 0.25s linear;
}

.footer-items .note{
   font-size: 10px;
   font-weight: 100;
   position: absolute;
   bottom: 10px;
}

.footer-items img{
   width: 100%;
   height: auto;
   object-fit: cover;
}

.footer-items .contact{
   font-size: 20px;
}

.footer-items .contact > div{
   padding-bottom: 15px;
}

.footer-items .contact i{
   padding-right: 20px;
}

.footer-items .contact span{
   font-size: 15px;
   font-weight: 100;
}

/* start model */
.model{
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: rgba(0, 0, 0, 0.3);
   justify-content: center;
   align-items: center;
   display: flex;
   display: none;
}

.model.open{
   display: flex;
   z-index: 999;
}

.model-container{
   position: relative;
   background-color: #fff;
   width: 700px;
   height: 489px;
   border-radius: 20px;
   display: flex;
   justify-content: end;
   align-items: center;
   animation: showForm ease 0.5s;
}

@keyframes showForm{
   from{
      transform: translateY(-100px);
   }
   to{
      transform: translateY(0);
   }
}

.model-container .form-login{
   background: #000;
   padding: 30px 40px;
   border-radius: 20px;
   position: relative;
   position: absolute;
   top: 0;
   right: 0;
   min-width: 60%;
}

.form-login.hide-form-login{
   left: 0;
   right: auto;
   display: none;
}

.model-container .model-logo{
   width: 40%;
   position: absolute;
   /* top: 0; */
   left: 0;
}

.model-logo.remove-model-logo{
   right: 0;
   left: auto;
}

.model-logo img{
   width: 100%;
   height: 100%;
}

.model-logo .logo-text{
   text-align: center;
   margin-bottom: 20px;
   font-size: 30px;
   text-transform: capitalize;
   font-family: 'League Spartan', sans-serif;
}

.close-form{
   position: absolute;
   /* background-color: #fff; */
   padding: 10px;
   top: 0;
   right: 5px;
   cursor: pointer;

}

.close-form i{
   color: #fff;
   font-size: 25px;
}

.form-login .signup-title{
   text-align: center;
   margin: 20px 0;
   font-size: 20px;
   color: #fff;
}

.form-login .signup-by-accout{
   font-family: 'League Spartan', sans-serif;
   width: 100%;
   margin-bottom: 10px;
   padding: 5px 10px;
   border-radius: 10px;
   border: none;
   cursor: pointer;
   display: flex;
   align-items: center;
}

.form-login .signup-google{
   background-color: #fff;
}

.form-login .signup-by-accout .fa-google{
   width: 40px;
   height: 40px;
   margin-right: 10px;
   background-color: #000;
   border-radius: 10px;
   color: #fff;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 16px;
}

.form-login .signup-by-accout .signup-text{
   color: #000;
   display: block;
   margin: 0 auto;
   font-size: 15px;
}

.form-login .signup-facebook{
   background-color: #2374e1;
}

.form-login .signup-by-accout .fa-facebook-f{
   width: 40px;
   height: 40px;
   margin-right: 10px;
   background-color: #fff;
   border-radius: 10px;
   color: #2374e1;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 17px;
}

.form-login .signup-by-accout .signup-text-facebook{
   color: #fff;
}

.form-login .signup-or{
   text-align: center;
   font-size: 20px;
   margin: 20px 0;
   position: relative;
   color: #999;
}

.form-login .signup-or::after{
   content: "";
   width: 100%;
   height: 1px;
   background-color: #999;
   position: absolute;
   top: 50%;
   left: 0;
}

.form-login .signup-or span{
   display: inline-block;
   padding: 10px;
   background-color: #000;
   position: relative;
   z-index: 2;
}

.card-form{

}

.card-form .card-items{
   position: relative;
   margin-bottom: 20px;
   color: #fff;
}

.card-form .card-items input{
   width: 100%;
   height: 35px;
   border: 1px solid #fff;
   background-color: #000;
   color: #fff;
   padding: 0 10px;
   border-radius: 10px;
}

.card-form .card-items label{
   position: absolute;
   color: rgba(255, 255, 255, 0.3);
   font-size: 13px;
   top: 13px;
   left: 12px;
   display: inline-block;
   transition: all 0.5s;
   user-select: none;
   pointer-events: none;
}

.card-form .card-items input:focus{
   border: 2px solid #fff;
   outline: #fff;
   color: #fff;
}

.card-form .card-items input:focus ~ label,
.card-form .card-items input:valid ~ label{
   display: inline-block;
   padding: 0 10px;
   background-color: #000;
   top: -9px;
   color: #fff;
}

.card-form .card-items i{
   position: absolute;
   color: var(--text-color);
    top: 10px;
    right: 10px;
    font-size: 12px;
}

.card-form .submit{
   margin-top: 25px;
   margin-bottom: 0;
   text-align: center;
}

.card-form .submit input{
   background-color: #000;
   color: #fff;
   font-weight: bold;
   border: none;
   width: 100%;
   border-radius: 20px;
   box-shadow: 2px 0 10px #ccc;
   cursor: pointer;
   transition: 0.5s linear;
}

.card-form .submit input:hover{
   background-color: #fff;
   color: #000;
}

.signup-already {
   margin-top: 20px;
   text-align: right;
   font-size: 12px;
   padding-right: 10px;
}

.signup-already p{
   color: var(--border-color);
   display: inline-block;
   padding-right: 10px;
}

.signup-already-link{
   color: #2374e1;
}

.signup-already-link:hover{
   text-decoration: underline;
}

/* start search form */
.search{
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: rgba(0, 0, 0, 0.3);
   justify-content: center;
   /* align-items: center; */
   display: none;
}

.search.open{
   display: flex;
   z-index: 999;
}

.search-container{
   background-color: #fff;
   max-height: 200px;
   padding: 70px 60px;
   margin-top: 30px;
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   animation: showForm ease 0.5s;
}

.close-search{
   position: absolute;
   top: 0;
   right: 0;
   margin: 10px 15px;
   font-size: 25px;
   cursor: pointer;
}

.input-search{
   width: 500px;
   padding: 10px 20px;
   font-size: 15px;
}

.search-icon-form{
   margin-left: 20px;
   font-size: 20px;
   cursor: pointer;
}

/* Start form cart shopping */
.shopping-form{
   position: fixed;
   top: 0;
   right: -100%;
   padding: 20px 50px;
   background-color: #fff;
   height: 100%;
   box-shadow: 5px 0 24px 5px rgb(112, 110, 110);
   min-width: 500px;
   transition: all 0.5s linear;
}

.shopping-form.open{
   right: 0;
   z-index: 999;
}

.close-shopping-form
{
   position: absolute;
   top: 0;
   left: 0;
   margin: 10px 15px;
   font-size: 25px;
   cursor: pointer;
}

.shopping-form-text{
   margin-top: 60px;
   text-transform: capitalize;
   text-align: center;
}